<div class="text-center" style="padding:50px 0">
  <div class="logo">Повторная отправка письма подтверждения регистрации</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :email, class: "sr-only", for: "lg-username" %>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
                              class: "form-control",
                              id: "lg-username",
                              placeholder: "Почта (email) "
            %>
          </div>
        </div>
        <button type="submit" class="login-button"><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
