<div class="row">
  <div class="menu-btn-add-new col-md-2 btn btn-success">
     Добавить новое меню
  </div>
  <%- @position = "" %>
  <%- @week_menus.each do |week_menu| %>
    <div class="col-md-12 menu-wrapp">
      <div class="col-md-12 ">
        <div class="menu-name col-md-9">
          <%= week_menu.name %>
          <%- if week_menu.id == @active_menu.id %>
            <span class="glyphicon glyphicon-ok-circle menu-active-icon" aria-hidden="true"></span>
            <span class="menu-active-icon">
              Активно
           </span>
            <% end %>
        </div>
        <div class="dropdown menu-wrapp-burger-btn col-md-1 col-md-offset-2 ">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle head-section ">
            <span class="glyphicon glyphicon-menu-hamburger menu-burger-btn" aria-hidden="true"></span>
          </a>
          <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
            <li>
              <a tabindex="-1" href="#">
                <%= link_to 'Сделать активным' %>
              </a>
            </li>
            <li>
              <a tabindex="-1" href="#">
                <%= link_to 'Редактировать' %>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a tabindex="-1" href="#">
                <%= link_to 'Удалить' %>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-12 menu-description">
        <%- week_menu.menus.group_by(&:week_day).each do |day, menu| %>
          <div class="menu-day col-md-12">
            <div class="col-md-12 menu-day-wrapp">
              <div class="menu-day-name">
                <%= week_days(day) %>
              </div>
              <%- menu.each do |m| %>
                <%- if !(m.position == @position) %>
                  <div class="col-md-12 menu-reception">
                    <%= food_reception(m.position) %>
                  </div>
                <% end %>
                <%- @position = m.position %>
                <%= link_to m.mess.name, mess_path(m.mess), class: 'col-md-12 menu-mess-name' %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <nav class="menu-pagination" aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
