<div class="text-center" style="padding:50px 0">
  <div class="logo">Редактирование профиля</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put}, id: "register-form", class: "text-left") do |f| %>
      <%= devise_error_messages! %>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :email, for: "reg-username", class: "sr-only" %><br/>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "form-control",
                              id: "reg-username",
                              placeholder: "Почта"
            %>
          </div>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>
          <div class="form-group field">
            <%= f.label :password, class: "sr-only", for: "reg-password" %>
            <% if @minimum_password_length %>
            <% end %><br/>
            <%= f.password_field :password,
                                 autocomplete: "off",
                                 type: "password",
                                 class: "form-control",
                                 id: "reg-password",
                                 placeholder: "Пароль (#{; @minimum_password_length} символов минимум)"
            %>
          </div>
          <i class="devise-form-descrip">(оставьте пустым, если не хотите менять)</i><br/>
          <div class="form-group field">
            <%= f.label :password_confirmation, for: "reg-password-confirm", class: "sr-only" %><br/>
            <%= f.password_field :password_confirmation,
                                 autocomplete: "off",
                                 type: "password",
                                 class: "form-control",
                                 id: "reg-password-confirm",
                                 placeholder: "Подтвердите пароль"
            %>
          </div>
          <div class="form-group field">
            <%= f.label :current_password, for: "reg-password-current", class: "sr-only" %><br/>
            <%= f.password_field :current_password,
                                 autocomplete: "off",
                                 type: "password",
                                 class: "form-control",
                                 id: "reg-password-current",
                                 placeholder: "Введите текущий пароль"
            %>
          </div>
          <i class="devise-form-descrip">(Введите текущий пароль для подтверждения ваших изменений)</i><br/>
        </div>
        <button type="submit" class="login-button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    <% end %>
  </div>
  <div class="logo">Удалить мой аккаунт</div>
  <%= button_to "Удалить",
                registration_path(resource_name),
                class: "btn btn-danger",
                data: {confirm: "Are you sure?"},
                method: :delete
  %>
  <br/>
  <%= link_to "Назад", :back %>
</div>