<div class="text-center" style="padding:50px 0">
  <div class="logo">Регистрация</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), id: "register-form", class: "text-left") do |f| %>
      <%= devise_error_messages! %>
      <div id="error_explanation">
        <ul>
          <% flash.each do |key, value| %>
            <li class=" flash <%= key %>"><%= value %></li>
          <% end %>
        </ul>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :email, for: "reg-username", class: "sr-only" %><br/>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "form-control",
                              id: "reg-username",
                              placeholder: "Почта (email)"
            %>
          </div>
          <div class="form-group field">
            <%= f.label :password, class: "sr-only", for: "reg-password" %>
            <% if @minimum_password_length %>
            <% end %><br/>
            <%= f.password_field :password,
                                 autocomplete: "off",
                                 type: "password",
                                 class: "form-control",
                                 id: "reg-password",
                                 placeholder: "Пароль (не меньше #{; @minimum_password_length} символов)"
            %>
          </div>
          <div class="form-group field">
            <%= f.label :password_confirmation, for: "reg-password-confirm", class: "sr-only" %><br/>
            <%= f.password_field :password_confirmation,
                                 autocomplete: "off",
                                 type: "password",
                                 class: "form-control",
                                 id: "reg-password-confirm",
                                 placeholder: "Подтвердите пароль"
            %>
          </div>
        </div>
        <button type="submit" class="login-button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    <% end %><br/>
    <%= render "devise/shared/links" %>
  </div>
</div>

