<div class="text-center" style="padding:50px 0">
  <div class="logo">Изменить пароль</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), id: "login-form", class: "text-left", html: {method: :put}) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :password, "New password", class: "sr-only", for: "lg-password" %>
            <% if @minimum_password_length %>
            <% end %>
            <%= f.password_field :password,
                                 autocomplete: "off",
                                 class: "form-control",
                                 id: "lg-password",
                                 placeholder: "Пароль (#{@minimum_password_length} 6 символов минимум)" %>
          </div>
          <div class="form-group login-group-checkbox field">
            <% if devise_mapping.rememberable? -%>
            <% end -%>
          </div>
        </div>
        <button type="submit" class="login-button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
