<div class="text-center" style="padding:50px 0">
  <div class="logo">Забыли пароль?</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), id: "forgot-password-form", class: "text-left", html: {method: :post}) do |f| %>
      <%= devise_error_messages! %>
      <div class="etc-login-form">
        <p>
          Когда вы заполните и отправите заявку с своим зарегистрированным адресом электронной почты, вам будут
          отправлены инструкции о том, как сбросить пароль.
        </p>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :email, for: "fp-email", class: "sr-only" %>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              type: "text",
                              class: "form-control",
                              id: "fp-email",
                              placeholder: "Почта (email)"
            %>
          </div>
        </div>
        <button type="submit" class="login-button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>