<h1>Persons#profile</h1>
<p>Find me in app/views/persons/profile.html.erb</p>
<div class="col-md-12">
  <%= link_to 'Создать блюдо', new_mess_path, :method => :get %>
</div>
<div class="col-md-12">
  <%= link_to 'Создать menu', menus_path, :method => :get %>
</div>
