<div class="text-center" style="padding:50px 0">
  <div class="logo">Вход</div>
  <div class="login-form-1">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), id: "login-form", class: "text-left") do |f| %>
      <%= devise_error_messages! %>
      <div id="error_explanation">
        <ul>
          <% flash.each do |key, value| %>
            <li class=" flash <%= key %>"><%= value %></li>
          <% end %>
        </ul>
      </div>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group field">
            <%= f.label :email, class: "sr-only", for: "lg-username" %><br/>
            <%= f.email_field :email,
                              autofocus: true,
                              autocomplete: "email",
                              class: "form-control",
                              id: "lg-username",
                              placeholder: "Почта(email)"
            %>
          </div>
          <div class="form-group field">
            <%= f.label :password, for: "lg-password", class: "sr-only" %><br/>
            <%= f.password_field :password,
                                 autocomplete: "off",
                                 class: "form-control",
                                 id: "lg-password",
                                 placeholder: "Пароль"
            %>
          </div>
          <div class="form-group login-group-checkbox field">
            <% if devise_mapping.rememberable? -%>
              <%= f.check_box :remember_me, id: "lg-remember", type: "checkbox" %>
              <%= f.label :remember_me, for: "lg-remember" %>
            <% end -%>
          </div>
        </div>
        <button typeç="submit" class="login-button">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </button>
      </div>
    <% end %> <br/>
    <%= render "devise/shared/links" %>
  </div>
</div>


