<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 mess-form">
      <div class="panel-group">
        <div class="panel panel-success">
          <div class="mess-form-title panel-heading">Напишите рецепт блюда</div>
          <div class="panel-body">
            <%= form_for @mess do |mess_form| %>
              <div class="form-group col-md-12">
                <%= mess_form.label :name, for: "name", value: "Название" %>
                <%= mess_form.text_field :name, id: "name", class: "form-control mess-form" %>
              </div>
              <div class="form-group col-md-12">
                <%= mess_form.label :description, for: "description", value: "Рецепт приготовления" %>
                <%= mess_form.text_area :description, id: "description", class: "form-control mess-form-textarea mess-form" %>
              </div>
              <div class="form-group col-md-12">
                <%= mess_form.label :category, for: "category", value: "Категория блюда(первое, второе)" %>
                <%= mess_form.select :category, id: "category", class: "form-control mess-form" do %>
                  <% [['Первое', 1], ['Второе', 2]].each do |c| -%>
                    <%= content_tag(:option, c.first, value: c.last) %>
                  <% end %>
                <% end %>
              </div>
              <div class="form-group col-md-12">
                <%= mess_form.label :cooking_time, for: "time", value: "Время приготовления(мин)" %>
                <%= mess_form.number_field :cooking_time, id: "time", class: "form-control mess-form", value: "" %>
              </div>
              <div class="form-group col-md-12" id="myModal">
                <%= mess_form.label :ingredients, for: "mess-ingredient_ids", value: "Ингредиенты для приготовления" %><br/>
                <%= mess_form.select("ingredient_ids",
                                     Ingredient.all.collect {|i| [i.name, i.id]},
                                     {:include_hidden => false},
                                     {:multiple => true,
                                      :size => 5,
                                      :class => "js-example-basic-multiple form-control mess-form"}
                    )%>
              </div>
              <br/>
              <div class="col-md-12">
                <%= mess_form.submit "Добавить", class: "btn btn-success" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




