<div class="row">
  <div class="panel panel-success mess-modal-panel">
    <div class="panel-heading ">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <%= @mess.name %>
    </div>
    <div class="panel-body mess-modal-body">
      <div class="col-md-12 mess-modal-description">
        <%= @mess.description %>
      </div>
      <div class="mess-modal-ingredients col-md-12">
        Ингредиенты :
      </div><br />
        <%- @mess.ingredients.each do |i| %>
          <div class="col-md-12">
            <div class="mess-modal-ingredient ">
              <%= i.name %>
            </div><br />

          </div>
        <% end %>
      <div class="mess-modal-nutritional-value col-md-3">
        Белки : <%= @mess.nutrition_count('protein') %>
      </div>
      <div class="mess-modal-nutritional-value col-md-3">
        Жиры : <%= @mess.nutrition_count('fat') %>
      </div>
      <div class="mess-modal-nutritional-value col-md-3">
        Углеводы : <%= @mess.nutrition_count('carbs') %>
      </div>
      <div class="mess-modal-nutritional-value col-md-3">
        Калории : <%= @mess.nutrition_count('calories') %>
      </div>
      <div class="col-md-12 mess-modal-time">
        Время приготовления <%= @mess.cooking_time %> мин.
      </div>
    </div>
  </div>
</div>