 //*
 //* This is a manifest file that'll be compiled into application.css, which will include all the files
 //* listed below.
 //*
 //* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 //* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 //*
 //* You're free to add application-wide styles to this file and they'll appear at the bottom of the
 //* compiled file so the styles you add here take precedence over styles defined in any styles
 //* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 //* file per style scope.
 //*

@import "bootstrap-sprockets";
@import "bootstrap";
@import "header";
@import "footer";
@import "messes";
@import "persons";
@import "devise";
@import "menus";

html,
body {
    height: 100%;
    padding: 0;
    background-color: #efefef;
}
#wrap {
    min-height: 100%;
}
main {
    padding-bottom: 100px;
}
footer {
    margin-top: -100px;
    height: 100px;
}