.foot {
  height: 100px;
  background-color: #abb6bd;
}

.foot-connectUs {
  line-height: 100px;
  color: #5f715f;
  font-size: 1.7rem;
}

.foot-connectUs:hover {
  color: gray;
  text-decoration: none;
}



.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.foot-form {
  padding: 40px 0 0 0;
  text-align: center;
}