.head {
  background-color: #b8d2b8;
  line-height: 80px;
  text-align: center;
}

.head-logo {
  font-size: 2rem;
  background-color: darkseagreen;
  text-align: center;
  border-radius: 50px;
  color: #524d4d;
}

.head-logo:hover,
.head-logo:focus {
  text-decoration: none;
  color: #524d4d;
}

.head-logo:active {
  -webkit-filter: blur(1px);
}

.head-section, .head-section > a{
  font-size: 1.6rem;
  color: #524d4d;
  text-decoration: none;
}

.head-section:hover,
.head-section > a:hover,
.head-section:focus{
  color: gray;
  text-decoration: none;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  background-color: #b8d2b861;
}