.menu-btn-add-new {
  background-color: #8fbc8f;
  border-color: #8fbc8f;
  margin: 10px 0 0 0;
}

.menu-day {
  width: 14.28%;
  padding: 0 0.2%;
}

.menu-name {
  font-size: 2rem;
  line-height: 52px;
  color: #8fbc8f;
}

.menu-description {
  padding-bottom: 15px;
}

.menu-wrapp {
  border: 3px solid #d5e2d5;
  border-radius: 9px;
  padding: 0;
  margin: 10px 0;
}

.menu-day-wrapp {
  padding: 0;
  border: 1px solid #b8d2b8;
  border-radius: 4px;
  background-color: #efefef;
}

.menu-day-name {
  background-color: #b8d2b878;
  text-align: center;
  color: #514d4d;
  line-height: 30px;
}

.menu-reception {
  padding: 0 5px;
  color: #808080eb;
  border-top: 1px solid #d5e2d5;
  border-bottom: 1px solid #d5e2d5;
  line-height: 30px;

}

.menu-mess-name {
  font-size: 1.3rem;
  color: #688260;
  line-height: 30px;
  text-transform: capitalize;
  cursor: pointer;
}

.menu-mess-name:first-letter {
  text-transform: capitalize;
}

.menu-active-icon {
  color: #009dff70;
  font-size: 2rem;
}

.menu-burger-btn {
  font-size: 2.5rem;
  line-height: 50px;
  color: #8d8a8a;
}

.menu-burger-btn:hover {
  color: #8fbc8f;
}

.menu-wrapp-burger-btn {
  text-align: right;
}

.mess-modal-panel {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.mess-modal-panel:first-letter {
  text-transform: capitalize;
}

.mess-modal-window {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 40%;
}

.mess-modal-body {
  color: #808080;
  font-size: 1.5rem;
  text-align: left;
}

.mess-modal-description {
  border: 1px solid #b8ccae;
  border-radius: 3px;
  padding: 10px 15px;
}

.mess-modal-description:first-letter {
  text-transform: capitalize;
}

.mess-modal-time {
  padding: 15px 15px 0 15px;
}

.mess-modal-nutritional-value {
  padding-top: 15px;
}

.modal-content {
  padding: 0;
}

.mess-modal-ingredients {
  padding: 15px;
}

.mess-modal-ingredient {
  padding: 0 15px;
  border: 1px solid #b8ccae;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0 5px 0;
}

.menu-pagination {
  text-align: center;
}



