.mess-form {
  color: #808080;
  padding-top: 20px;

}
.mess-form-title {
  text-align: center;
  font-size: 2rem;
}

.mess-form-textarea{
  resize: none;
  height: 100px;

}

#mess_category {
  height: 30px;
}

.mess-form:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 2px solid #b8d2b8;
}