<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
<table class="body-wrap">
  <tr>
    <td class="container">
      <table>
        <tr>
          <td align="center" class="masthead">
            <h1>Sports Nutrition Service</h1>
          </td>
        </tr>
        <tr>
          <td class="content">
            <h2><p>Welcome <%= @email %>!</p></h2>
            <p>You can confirm your account with the link below:</p>
            <table>
              <tr>
                <td align="center">
                  <p>
                  <p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
                  </p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="container">
      <table>
        <tr>
          <td class="content footer" align="center">
            <p>Sent by <a href="#">Company Name</a>, 1234 Yellow Brick Road, OZ, 99999</p>
            <p><a href="mailto:">hello@company.com</a> | <a href="#">Unsubscribe</a></p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>

<style>
  * {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    line-height: 1.65;
  }

  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  body, .body-wrap {
    width: 100% !important;
    height: 100%;
    background: #f8f8f8;
  }

  a {
    color: #71bc37;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
    line-height: 1.25;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

  h5 {
    font-size: 16px;
  }

  p, ul, ol {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .container {
    display: block !important;
    clear: both !important;
    margin: 0 auto !important;
    max-width: 580px !important;
  }

  .container table {
    width: 100% !important;
    border-collapse: collapse;
  }

  .container .masthead {
    padding: 80px 0;
    background: #71bc37;
    color: white;
  }

  .container .masthead h1 {
    margin: 0 auto !important;
    max-width: 90%;
    text-transform: uppercase;
  }

  .container .content {
    background: white;
    padding: 30px 35px;
  }

  .container .content.footer {
    background: none;
  }

  .container .content.footer p {
    margin-bottom: 0;
    color: #888;
    text-align: center;
    font-size: 14px;
  }

  .container .content.footer a {
    color: #888;
    text-decoration: none;
    font-weight: bold;
  }

  .container .content.footer a:hover {
    text-decoration: underline;
  }

</style>