<!DOCTYPE html>
<html>
<head>
  <title>Sns</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>
<div id="wrap">
  <main>
    <header class="head">
      <div class="container">
        <div class="row">
          <a class="head-logo col-md-3 " href="/persons/profile">
            Sports Nutrition Service
          </a>
          <% if user_signed_in? %>
            <div class="dropdown col-md-3 col-md-offset-6 ">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle head-section ">
                <%= current_user.email %>
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
              </a>
              <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                <li>
                  <a tabindex="-1" href="#">
                    <%= link_to 'Отредактировать профиль', edit_user_registration_path, :method => :get %>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a tabindex="-1" href="#">
                    <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
                  </a>
                </li>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <div class="container">
      <%= yield %>
    </div>
    </main>
  </main>
</div>
<footer class="foot">
  <div class="container">
    <div class="row">
      <a class="foot-connectUs col-md-3" id="myBtn">
        Обратная связь
      </a>
      <div id="myModal" class="modal">
        <div class="modal-content">
          <span class="close">&times;</span>
          <div class="row">
            <form>
              <fieldset class="foot-form">
                <p class="col-md-12">Напишите нам письмо</p>
                <div class="form-group col-md-12">
                  <input type="text" id="name" name="name" class="form-control " placeholder="Name">
                </div>
                <div class="form-group col-md-12">
                  <input type="text" id="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group col-md-12">
                  <textarea rows="3" id="description" name="description" class="form-control" placeholder="Description"></textarea>
                </div>
                <button type="submit" class="btn btn-warning pull-right">Отправить</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>

<div class="modal fade" tabindex="-1" id="mess-modal" role="dialog" aria-hidden="true">
<div class="modal-dialog modal-md">
  <div class="modal-content">
  </div>
</div>
</div>

</body>
</html>